<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="localSTSConfiguration" type="System.IdentityModel.Tools.LocalSTS.LocalSTSConfiguration, LocalSTS, Version=5.0.0.0, Culture=neutral, PublicKeyToken=f300afd708cefcd3" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <localSTSConfiguration port="14640" signingCertificate="LocalSTS.pfx" signingCertificatePassword="LocalSTS" issuerName="LocalSTS" tokenFormat="Saml2">
    <claims>
      <add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" displayName="Name" value="Insightful" />
      <add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" displayName="Surname" value="Developer" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="Expert Stress-to-Excellence Converter" />
      <add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" displayName="Email" value="insight.group@icainformatics.com" />
      <add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" displayName="NameIdentifier" value="insight.group" />
      <add type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" displayName="IdentityProvider" value="LocalSTS" />
    </claims>
  </localSTSConfiguration>
</configuration>